# server
PORT=3000
NODE_ENV=development

# postgres
PG_HOST=localhost
PG_PORT=5432
PG_USER=wallet_user
PG_PASSWORD=wallet_pass
PG_DATABASE=wallet_service

# jwt
JWT_SECRET=change_this_secret_before_deploying
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_SECRET=change_this_too
JWT_REFRESH_EXPIRY=7d

# redis
REDIS_HOST=localhost
REDIS_PORT=6379

# kafka
KAFKA_BROKER=localhost:9092
KAFKA_CLIENT_ID=wallet-service
KAFKA_TRANSACTION_TOPIC=transaction-completed
